html, body {
    overflow-x: hidden !important;    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    width: 100vw;
    max-width: 100%;
    background-color: #1a1a1a;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh; 
    margin: 0 !important;
    perspective: 1000px;
    padding: 0;
}

.inner-content{
    position: relative;
    width: 1200px;
    height: 800px;
    margin: auto;
    top: 49%;
    transform: translateY(-50%);

    /* outline: solid 2px grey; */

    perspective: 1000px;
}

section h2 {
    margin: 0;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0;
    transform: rotateX(-10deg) translateY(50px);
}

.section-animation {
    animation: caption-animation 1s forwards 0.3s;
}

@keyframes section-anim {
    from {
        transform: rotateX(0) translateY(0);
        opacity: 1;    
    }
}

.scroll-container {
    overflow: hidden; /* 2nd Scrollbar Fix - Watch out for weird snap behaviour */
}

::selection {
    background-color: #222;
    color: white;
}

/* STARTING SCREEN */

.starting-screen {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#boss-container {
    position: relative;
    width: 540px;
}

#logo-cover {
    position: absolute;
    background-color: #1a1a1a;
    top: 220px;
    left:0px;
    width: 300px;
    height: 90px;
    opacity: 100%;
    animation: logocover 2.1s ease forwards .2s;

    transform: scale(1.2);
}

#logo-container {
    text-align: center;
}

#logo{
    fill:none;
    stroke: #e5e5e5;
    stroke-width:7.5px;
    width: 500px;
    height: 320px;
}

#logo-sub{
    stroke: none;
    fill: #e5e5e5;
}

#u1{
    stroke-dasharray: 57.659664154052734px;
    stroke-dashoffset: -57.659664154052734px;
    animation: u1 2.2s ease forwards .1s;
}

#u2{
    stroke-dasharray: 42.5px;
    stroke-dashoffset: 42.5px;
    animation: u2 2.2s ease forwards .1s;
}

#n1{
    stroke-dasharray: 57.65967559814453px;
    stroke-dashoffset: -57.65967559814453px;
    animation: n1 2.2s ease forwards .1s;
}

#n2{
    stroke-dasharray: 42.5px;
    stroke-dashoffset: 42.5px;
    animation: n2 2.2s ease forwards .1s;
}

#i1{
    stroke-dasharray: 42.5px;
    stroke-dashoffset: 42.5px;
    animation: u2 2.2s ease forwards .1s;
}

#t1{
    stroke-dasharray: 35.599998474121094px;
    stroke-dashoffset: -35.599998474121094px;
    animation: t1 2.2s ease forwards .1s;
}

#t2{
    stroke-dasharray: 27.899993896484375px;
    stroke-dashoffset: 27.899993896484375px;
    animation: t2 2.2s ease forwards .1s;
}

#mask{
    fill: #1a1a1a;
    stroke: none;
    opacity: 100%;
}

@keyframes logocover {
    0% {
        transform: translateX(0px);}
    25% {
        transform: translateX(300px);}

    26% {
        transform: translate(300px, 100px);}    
    74% {
        transform: translate(-300px, 100px);}    

    75% {
        transform: translateX(-300px);}    

    100% {
        transform: translateX(0px);}
}

@keyframes u1 {
    0% {
        stroke-dashoffset: -57.659664154052734px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: 57.659664154052734px;}
}

@keyframes u2 {
    0% {
        stroke-dashoffset: 42.5px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: -42.5px;}
}

@keyframes n1 {
    0% {
        stroke-dashoffset: -57.659664154052734px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: 57.659664154052734px;}
}

@keyframes n2 {
    0% {
        stroke-dashoffset: 42.5px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: -42.5px;}
}

@keyframes t1 {
    0% {
        stroke-dashoffset: -35.599998474121094px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: 35.599998474121094px;}
}

@keyframes t2 {
    0% {
        stroke-dashoffset: 27.899993896484375px;}
    25% {
        stroke-dashoffset: 0;}

    75% {
        stroke-dashoffset: 0;}


    100% {
        stroke-dashoffset: -27.899993896484375px;}
}

/* NAVBAR */

.mobile-nav-container {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.navbar {
    position: absolute;
    background-color: transparent;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    transform: translateY(-320px);
    animation: nav-in 1.5s forwards 2.3s;

    pointer-events: none;
}

@keyframes nav-in {
    to {
        transform: translateY(0);
    }
}

.navbar .inner-content{
    height: 90vh;
    border-color: greenyellow;
}

.nav-logo {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: visible;
}

.nav-logo img {
    width: 80px; 
}


.nav-contact {
    position: absolute;
    top: 0;
    right: 0;

    pointer-events: visible;
}

.nav-contact a {
    background-color: #e5e5e5;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-weight: 500;
    font-size: 1rem;
    color: #1a1a1a;
    border: solid #e5e5e5 2px;
    transition: all 0.3s ease;
}

.nav-contact a:hover {
    border: solid #e5e5e5 2px;
    color: #e5e5e5;
    background-color: transparent;
}

.link-container{
    width: 100%;
    height: 100px;
}

.nav-links {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: visible;
}

.nav-item {
    padding: 0;
    margin: 0 80px 0 80px;
    top:0;
    font-weight: 500;
    font-size: 1rem;
}

.nav-item-contact {
    visibility: hidden;
    position: absolute;
}

.nav-item a {
    color: #e5e5e5;
    position: relative;
}

.nav-item a:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #e5e5e5;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
    border-radius: 2px;
}
   
.nav-item a:hover:after{
    width: 100%;
    left: 0;
    background: #e5e5e5;
}

/* ----- SECTION MENU ----- */

.section-menu {
    position: fixed;
    z-index: 6;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    mix-blend-mode: difference;

    
    width: 200px;
    height: 800px;
    margin: auto;
    top: 50%;
    right: 13%;
    transform: translate(-50%, -50%);
    
/*     border-style: solid;
    border-width: 1px;
    border-color: green; */
}

.section-nav ul {
    position: fixed;
    list-style: none;
    direction: rtl;
    padding: 0;
    margin: 0;

    font-size: 1.2rem;

    top: 10px;
    right: 20px;
}

.section-nav li {
    font-weight: 500;
    margin-top: 1rem;
    transition: all 1s ease;
}

#link-1, #link-2, #link-3, #link-4 {
    transform: translateX(140px);
    opacity: 0;
    transition: all 0.3s ease;
}

.section-items-in1 {
    animation: linksIn 0.7s ease 0.1s forwards;
}

.section-items-in2 {
    animation: linksIn 0.7s ease 0.2s forwards;
}

.section-items-in3 {
    animation: linksIn 0.7s ease 0.3s forwards;
}

.section-items-in4 {
    animation: linksIn 0.7s ease 0.4s forwards;
}

.link-hover {
    transform: translateX(-2px) !important;
}

@keyframes linksIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section-nav a {
    color: #e5e5e5; 
}

.pointer {
    content: "";
    height: 0;
    width: 3px;
    background-color: #e5e5e5;
    pointer-events: none;
    transition: all 0.5s ease-in-out 0.05s;

    border-radius: 2px;

    position: absolute;
    right: 10px;
    top: 30px;

    opacity: 0;
}

.pointer-in {
    animation: pointerIn 0.7s ease 0.8s forwards;
}

@keyframes pointerIn {
    to {
        opacity: 1;
        height: 1.4rem;
    }   
}

.section-number {
    position: absolute;
    bottom: 10px;
    right: 50px;
    font-size: 3rem;
    color: #e5e5e5; 

/*     border-style: solid;
    border-width: 1px;
    border-color: pink; */

    color: #e5e5e5; 
    perspective: 1000px;

    transition: 0.3s ease-in-out all;
}

.section-number p {
    margin: 0 !important;
}

.number {
    position: absolute;
    top: 0;
    right: -1rem;
}

.number-0 {
    opacity: 0;
    transform: rotateX(-90deg);
    transition: all 0.7s ease 0.1s;
}

.number-1, .number-2, .number-3, .number-4 {
    position: absolute;
    top: 0;
    opacity: 0;

    transition: all 0.7s ease 0.1s;

    transform: rotateX(-90deg);
}

.number-1 {
    right: -1.2rem;    
}

.number-2 {
    right: -1.8rem;    
}

.number-3 {
    right: -1.7rem;    
}

.number-4 {
    right: -1.9rem;
}

.num-active {
    opacity: 1;
    transform: translate(0) rotate(0); 
}

.num-0-active {
    opacity: 1;
    transform: translate(0) rotate(0); 
}

@keyframes numActive {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0) rotate(0); 
    }
}

/* HERO CAPTION */

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    perspective: 1000px;
}

.hero-line {
    margin: 7rem 0;
    font-size: 9rem;
    color: #e5e5e5;
    line-height: 40px;
    font-weight: 600;  
}

#hero-line-1 {
    opacity: 0;
    transform: rotateX(-20deg) translateY(80px);
}

#hero-line-2 {
    opacity: 0;
    transform: rotateX(-20deg) translateY(80px);

}

#hero-line-3 {
    opacity: 0;
    transform: rotateX(-20deg) translateY(80px);
}

.line-1 {
    animation: caption-animation 1s forwards 2.5s;
}

.line-2 {
    animation: caption-animation 1s forwards 2.7s;   
}

.line-3 {
    animation: caption-animation 1s forwards 2.9s;  
}

.line-1-scroll {
    animation: caption-animation 1s forwards;   
}

.line-2-scroll {
    animation: caption-animation 1s forwards 0.2s;   
}

.line-3-scroll {
    animation: caption-animation 1s forwards 0.4s;   
}

@keyframes caption-animation {
    to {
        transform: rotateX(0) translateY(0);
        opacity: 1;
    }
}

/* HERO ARROW */

.hero-arrow {
    width: 70px;
    position: absolute;
    top: 94%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;

    opacity: 0;
    animation: arrow-in 1s forwards 3.3s;

    z-index: 100;
}

 @keyframes arrow-in {
    to {
        opacity: 1;
    }
 }

.hero-arrow circle{
    fill: #1a1a1a;
    transition: all 0.5s ease;
    scale: 1;

    position: absolute;
}

.hero-arrow polygon{
    fill: #e5e5e5;
    transition: all 0.5s ease;
}

.arrow-hover {
    fill: #1a1a1a !important;
}

.circle-hover {
    fill: #e5e5e5 !important;
    scale: 1 !important;
}

/* LEISTUNGEN */

.leistungen-content {
    z-index: 5;
    background-color: #e5e5e5;
    color: #1a1a1a;
}

.row {
    perspective: 1000px;
}

.leistungen-content-container {
    position: absolute;
    top: 15rem;
}

.leistungen-item {
    position: absolute;
    height: 200px;
    width: 400px;

/*     border-style: solid;
    border-width: 1px;
    border-color: lightblue; */
}

.leistungen-content-text{
    position: absolute;
    width: 300px;
    left: 100px;
}

.leistungen-item h3{
    margin-bottom: 10px;
}

.leistungen-svg {
    float: left;
    width: 100px;
}

#webdesign-item, #design-item{
    top: 180px;
}

#app-item, #marketing-item{
    top: 390px;
}

#seo-item, #beratung-item{
    top: 600px;
}

#webdesign-item, #app-item, #seo-item{
    left: 0px;
}

#design-item, #marketing-item, #beratung-item{
    left: 450px;
}


/* REFERENZEN */

.referenzen-content {
    z-index: 5;
    background-color: #1a1a1a;
    color: #e5e5e5;
}

.ref-container {
    position: absolute;
    width: 378px;
    height: 300px;

/*     border-style: solid;
    border-width: 1px;
    border-color: lightblue; */
}

#ref-1, #ref-3{
    left: 0px;
}

#ref-1, #ref-2{
    top: 180px;
}

#ref-3, #ref-4{
    top: 493px;
}

#ref-2, #ref-4{
    left: 478px;
}

.img-logo, .img-screen {
    width: 378px;
    height: 213px;

    transition: opacity 0.5s ease;
}

.img-screen {
    opacity: 0;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

/* TEAM */

.team-content {
    z-index: 5;
    background-color: #e5e5e5;
    color: #1a1a1a;
}

.team-person{
    position: absolute;
    width: 160px;
    height: 300px;

/*     border-style: solid;
    border-width: 1px;
    border-color: lightblue; */
}


#Maximilian, #Jennifer{
    left: 0px;
}

#Jennifer, #Raffaela{
    top: 180px;
}

#Raffaela, #Yuan{
    left: 260px;
}

#Maximilian, #Yuan{
    top: 493px;
}

.team-text {
    position: absolute;
    width: 290px;
    height: 400px;
    top: 160px;
    left: 520px;
    transition: all 1s ease;

/*     border-style: solid;
    border-width: 1px;
    border-color: lightblue; */
}

.team-person img {
    width: 160px;
    height: 213px;
}

.team-name, .team-description {
    padding: 0;
    margin: 0;
}

.team-name {
    font-weight: 500;
    font-size: 1rem;
}

.team-description {
    font-size: 0.8rem;
}

/* ----- KONTAKT ----- */

.kontakt-content {
    z-index: 5;
    background-color: #1a1a1a;
    color: #e5e5e5;
}

.kontakt-info {
    position: absolute;
    top: 200px;
    perspective: 1000px;
}

.kontakt-info a {
    color: #e5e5e5;
    font-size: 2rem;
    margin-bottom: 1.2rem;
    display: inline-block;
    position: relative;
}

.kontakt-content p {
    transform: translateY(-1px);
}

.kontakt-content a:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #e5e5e5;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
    border-radius: 2px;
}

.kontakt-content a:hover:after{
    width: 100%;
    left: 0;
    background: #e5e5e5;
}

.footer {
    position: absolute;
    bottom: 20px;
    color: #e5e5e5;
    perspective: 1000px;
}

.footer-item {
    float: left;
    margin-right: 7rem;
}
.footer p {
    color: #e5e5e5;
    font-size: 1rem;
}
.footer a {
    color: #e5e5e5;
    font-size: 1rem;
}
#datenschutz-link{
    margin: 0;
}
#copy{
    position: absolute;
    padding: 5px;
    width: 25px;
    height: 35px;
    top: 8px;
    left: 475px;
    fill: none;
    stroke-width: 2px;
    stroke: #e5e5e5;
    cursor: pointer;
}

/* ----- DATENSCHUTZ + IMPRESSUM----- */

.datenschutz-content, .impressum-content {
    color: #e5e5e5;
}

.impressum-content{
    height: 2100px;
}

.impressum-content .inner-content{
    height: 1900px;
    top: 100px;
    transform: translateY(0%);
}

.datenschutz-content{
    height: 6000px;
}

.datenschutz-content .inner-content{
    height: 5800px;
    top: 100px;
    transform: translateY(0%);
}

.datenschutz-content h1, .impressum-content h1 {
    font-size: 4rem;
    margin-top:0;
}

.datenschutz-content h2, .impressum-content h2 {
    margin: 3rem 0 1rem 0;
    font-size: 1.5rem;
    opacity: 100;
    transform: rotateX(0deg) translateY(0px);
}

.datenschutz-content h3, .impressum-content h3 {
    margin-top: 2rem;
}

.datenschutz-content a, .impressum-content a {
    color: #616161;
}

.nav-arrow {
    z-index: 9;
    width: 90px;
    position: fixed;
    transform: rotate(90deg);
    cursor: pointer;

    top: 30px;
    right: 18%;

    mix-blend-mode: difference;
}

.nav-arrow polygon{
    fill: #e5e5e5;
    transition: all 0.5s ease;
}

.nav-arrow-hover {
    fill: #1a1a1a !important;
}

.nav-circle-hover {
    fill: #e5e5e5 !important;
    scale: 1 !important;
}

/* ----- COOKIE-BANNER ----- */

.cookie-banner {
    position: fixed;
    color: #e5e5e5;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%, 200px);

    z-index: 100;
    background-color: #232323;
    border: 2px solid #5e5e5e;
    border-radius: 20px;
    padding: 1.6rem;
    width: 640px;

    opacity: 0;

    transition: all 1s ease;
}

.banner-text {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    width: 65%;
    display: inline-block;
}

.banner-text a {
    color: skyblue;
}

.banner-button {
    background-color: #e5e5e5;
    color: #1a1a1a;
    display: inline-block;
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    font-weight: 500;

    cursor: pointer;
}

.banner-visible {
    opacity: 1;
    transform: translate(-50%, 0) !important;
}


@media screen and (max-width: 767px) {

    .cookie-banner {
        width: 300px;
        padding: 1rem;
        bottom: 13% !important;
    }

    .banner-text {
        font-size: 0.7rem;
        width: 50%;
    }

    .banner-button {
        top: 2.7rem;
        right: 1rem;
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
}



/* RESPONSIVENESS */

/* 2k desktops*/
@media (min-width:2559px) and (min-height: 1279px){

    .inner-content{
        /* outline: solid 2px magenta; */
        height: 1066px;
        width: 1600px;
    }
    .section-menu{
        transform: translate(-50%, -50%) scale(1.35);
    }
    .inner-content p{
        font-size: 1.3rem;
    }
    section h2 {
        font-size: 8rem;
    }


    .starting-screen {
        transform: translate(-50%, -50%) scale(1.33);
    }


    .nav-item {
        margin: 0 107px 0 107px;
        font-size: 1.33rem;
    }
    .nav-item a:after{
        width: 0; height: 2.6px;
        margin-top: 2.6px;
        border-radius: 2.66px;
    }
    .nav-logo img {
        width: 107px; 
    }
    
    .nav-contact a {
        padding: 0.5rem 1.33rem;
        border-radius: 133px;
        font-size: 1.33rem;
        border: solid #e5e5e5 2.66px;
    }
    
    .nav-contact a:hover {
        border: solid #e5e5e5 2.66px;
    }

    .hero-line {
        margin: 9.33rem 0;
        font-size: 12rem;
        line-height: 53px;
    }
    #hero-line-1 {
        transform: rotateX(-20deg) translateY(107px);
    }
    #hero-line-2 {
        transform: rotateX(-20deg) translateY(107px);
    }
    #hero-line-3 {
        transform: rotateX(-20deg) translateY(107px);
    }
    .hero-arrow {
        width: 93px;
    }
    


    .leistungen-item h3, .team-text h3{
        font-size: 1.56rem;
        margin-bottom: 13.3px;
    }
    .leistungen-item{
        height: 266.66px;
        width: 533.33px;
    }
    .leistungen-svg {
        transform: scale(1.33) translate(10%, 10%);
    }
    .leistungen-content-text{
        width: 400px;
        left: 133px;
    }
    #webdesign-item, #design-item{
        top: 240px;
    }
    #app-item, #marketing-item{
        top: 520px;
    }
    #seo-item, #beratung-item{
        top: 800px;
    }
    #webdesign-item, #app-item, #seo-item{
        left: 0px;
    }
    #design-item, #marketing-item, #beratung-item{
        left: 600px;
    }


    .ref-container {
        width: 504px;
        height: 400px;
    }
    #ref-1, #ref-3{
        left: 0px;
    }
    #ref-1, #ref-2{
        top: 240px;
    }
    #ref-3, #ref-4{
        top: 656px;
    }
    #ref-2, #ref-4{
        left: 637px;
    }
    .img-logo, .img-screen {
        width: 504px;
        height: 284px;
    }


    .team-person{
        width: 213px;
        height: 400px;
        transform: translateY(40px);
    }
    #Jennifer, #Raffaela{
        top: 240px;
    }
    #Raffaela, #Yuan{
        left: 347px;
    }
    #Maximilian, #Yuan{
        top: 657px;
    }
    .team-text {
        width: 387px;
        height: 533px;
        top: 213px;
        left: 693px;
        transform: translateY(40px);
    }
    .team-person img {
        width: 213px;
        height: 284px;
    }
    .team-name {
        font-size: 1.33rem;
    }
    .team-description {
        font-size: 1rem;
    }


    
    .kontakt-content p {
        transform: translateY(40px);
    }
    .kontakt-info {
        top: 266px;
    }
    .kontakt-info a {
        font-size: 2.66rem;
        margin-bottom: 1.6rem;
    }
    .kontakt-content a:after{
        width: 0; height: 2.66px;
        margin-top: 2.66px;
        border-radius: 2.66px;
    }
    .footer {
        bottom: 26.6px;
    }
    .footer-item {
        margin-right: 9.33rem;
    }
    .footer p {
        font-size: 1.33rem;
    }
    .footer a{
        font-size: 1.33rem;
    }

    #copy{
        padding: 7px;
        width: 33px;
        height: 45px;
        top: 11px;
        left: 633px;

        stroke-width: 2.66px;

        transform: scale(5), translateY(40px);
    
        transition: translateY() 0.5s ease;
    }
    
    .copied {
        transform: scale(0.9) !important;
    }


    .section-menu{
        right: 15%;
    }


    .impressum-content{
        height: 2100px;
    }
    .impressum-content .inner-content{
        height: 1900px;
        top: 100px;
        transform: translateY(0%);
    }
    .datenschutz-content{
        height: 5400px;
    }
    .datenschutz-content .inner-content{
        height: 5200px;
        top: 100px;
    }
    .datenschutz-content h1, .impressum-content h1 {
        font-size: 4rem;
        margin-top:0;
    }
    .datenschutz-content h2, .impressum-content h2 {
        margin: 3rem 0 1rem 0;
        font-size: 1.5rem;
        opacity: 100;
        transform: rotateX(0deg) translateY(0px);
    }
    .datenschutz-content h3, .impressum-content h3 {
        margin-top: 2rem;
    }
    .datenschutz-content p, .impressum-content p{
        font-size: 1rem;
    }
    .nav-arrow {
        width: 90px;
        top: 30px;
        right: 18%;
    }


}


/* Mediumish Desktops */
@media (max-width: 1919px) {
    .section-menu{
        right: 140px;
    }
}


/* Smallish Desktops */
@media (max-width:1679px) {
    .section-menu{
        right: 20px;
    }

    .nav-arrow {
        right: 8%;
    }
}



/* Small Desktops */
@media (max-width:1439px) and (max-height: 899px){


    .inner-content{
        width: 850px;
        height: 800px;
        margin-left: 10%;
        /* outline: solid 2px red; */
    }

    .navbar .inner-content{
        margin-left: auto;
        width: 1050px;
    }

    .nav-item {
        margin: 0 50px 0 50px;
    }

    .nav-inner-content{
        width: 850px;
        height: 800px;
    }

    .nav-arrow {
        right: 26%;
    }
    .section-menu{
        right: -20px;
    }

    section {
        height: 900px; 
    }

    #hero{
        height: 100vh;
    }

    .impressum-content .inner-content{
        height: 2100px;
    }
    .impressum-content {
        height: 2300px;
    }

    .datenschutz-content .inner-content{
        height: 6800px;
    }
    .datenschutz-content {
        height: 7000px;
    }
}


/* Big Tablets */

@media (max-width:1279px) {
    .inner-content{
        width: 1020px;
        margin: auto;
        top:50%;
        /* outline: solid 2px yellowgreen; */
    }
}


/* Tablet */
@media (max-width:1079px) {
    .inner-content{
        width: 420px;
        /* outline: solid 2px green; */
    }

    .inner-content{
        width: 600px;
    }

    .navbar .inner-content{
        margin-left: auto;
        width: 600px;
    }

    section h2 {
        margin: 0;
        font-size: 4rem;
    }

    .hero-content{
        height: 100vh;
    }

    .hero-line {
        margin: 5.25rem 0;
        font-size: 6.75rem;
        line-height: 30px;
    }

    .hero-arrow {
        top: 92%;
    }
    #copy{
        display: none;
    }

    #Leistungen .inner-content{
        height: 1260px;
    }
    #Leistungen{
        height: 1460px;
    }
    #webdesign-item{
        top: 120px;
    }
    #design-item{
        top: 310px;
    }
    #app-item{
        top: 500px;
    }
    #marketing-item{
        top: 690px;
    }
    #seo-item{
        top: 880px;
    }
    #beratung-item{
        top: 1070px;
    }
    #design-item, #marketing-item, #beratung-item {
        left: 0px;
    }

    #Referenzen .inner-content{
        height: 1372px;
    }
    #Referenzen{
        height: 1572px;
    }
    .ref-container, .img-logo, .img-screen{
        width: 420px;
    }
    #ref-1, #ref-2, #ref-3, #ref-4 {
        left: 0px;
    }
    #ref-1 {
        top:120px;
    }
    #ref-2 {
        top: 433px;
    }
    #ref-3 {
        top: 746px;
    }
    #ref-4 {
        top: 1059px;
    }
    #Team{
        height: 1260px;
    }
    #Team .inner-content{
        height: 1060px;
    }
    .team-text {
        width: 420px;
        height: 300px;
        top: 90px;
        left: 0px;
    }
    #Jennifer, #Raffaela{
        top: 440px;
    }
    #Maximilian, #Yuan{
        top: 753px;
    }


    #Kontakt{
        height: 800px;
    }
    #Kontakt .inner-content{
        height: 600px;
    }
    .kontakt-info{
        top:150px;
    }
    .kontakt-content a {
        font-size: 1.7rem;
        margin: .2rem 0;
    }
    .footer-item{
        margin-right: 3.7rem;
    }
    .footer a {
        font-size: 1rem;
    }
    .footer p {
        font-size: 1rem;
    }
    .impressum-content .inner-content{
        height: 2650px;
    }
    .impressum-content {
        height: 2850px;
    }
    .datenschutz-content .inner-content{
        height: 10600px;
    }
    .datenschutz-content {
        height: 10800px;
    }
    .datenschutz-content h1, .impressum-content h1 {
        font-size: 2rem;
        margin-top:0;
    }
    .datenschutz-content h2, .impressum-content h2 {
        margin: 2rem 0 1rem 0;
        font-size: 1.2rem;
    }
    .datenschutz-content h3, .impressum-content h3 {
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0;
    }
    .nav-arrow {
        right: 15%;
    }
}



/* Big phone */
@media (max-width:739px) {


    .inner-content{
        width: 420px;
        /* outline: solid 2px cyan; */
    }
    .navbar .inner-content{
        margin-left: auto;
        width: 420px;
    }
    .starting-screen {
        transform: translate(-50%, -50%) scale(.8);
    }
    .hero-line {
        margin: 3.7rem 0;
        font-size: 4.7rem;
        line-height: 21px;
    }
    .nav-arrow {
        right: 12%;
    }
}

/* Phones */
@media (max-width:450px) {

    section{
        height: 1150px;
    }
    .inner-content{
        width: 300px;
        /* outline: solid 2px pink; */
    }
    .navbar .inner-content{
        margin-left: auto;
        width: 300px;
    }
    section h2 {
        margin: 0;
        font-size: 3rem;
    }


    .starting-screen {
        transform: translate(-50%, -50%) scale(.6);
    }


    .hero-line{
        font-size: 3.2rem;
        margin: 1.7rem 0;
    }


    #Leistungen{
        height: 2020px;
    }
    #Leistungen .inner-content{
        height: 1920px;
    }
    .leistungen-item{
        width: 300px;
        height: 400px;
        margin-bottom: 100px;
    }
    .leistungen-svg{
        position: absolute;
        left: 120px;
    }
    .leistungen-content-text{
        top: 90px;
        left: 0px;
    }
    .leistungen-item h3{
        margin-bottom: 5px;
    }
    #webdesign-item{
        top: 120px;
    }
    #design-item{
        top: 420px;
    }
    #app-item{
        top: 720px;
    }
    #marketing-item{
        top: 1020px;
    }
    #seo-item{
        top: 1320px;
    }
    #beratung-item{
        top: 1620px;
    }


    #Referenzen .inner-content{
        height: 1112px;
    }
    #Referenzen{
        height: 1312px;
    }
    .ref-container, .img-logo, .img-screen{
        width: 300px;
    }
    .img-logo, .img-screen{
        height: 169px;
    }

    #ref-1 {
        top:100px;
    }
    #ref-2 {
        top: 353px;
    }
    #ref-3 {
        top: 606px;
    }
    #ref-4 {
        top: 859px;
    }


    #Team{
        height: 1200px;
    }
    #Team .inner-content{
        height: 1000px;
    }
    .team-text {
        width: 300px;
        height: 360px;
        top: 60px;
    }
    .team-person{
        width: 130px;
        height: 200px;
    }
    .team-person img {
        width: 130px;
        height: 173px;
    }
    #Jennifer, #Raffaela{
        top: 460px;
    }
    #Maximilian, #Yuan{
        top: 740px;
    }
    #Raffaela, #Yuan{
        left: 170px;
    }

    #Kontakt{
        height: 600px;
    }
    #Kontakt .inner-content{
        height: 400px;
    }
    .kontakt-info{
        top:110px;
    }
    .kontakt-info a {
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }

    .footer-item{
        margin-right: 1.5rem;
    }

    .footer a {
        font-size: .8rem;
    }
    
    .footer p {
        font-size: .8rem;
    }

    .impressum-content .inner-content{
        height: 3250px;
    }

    .impressum-content {
        margin-top:0;
        height: 3450px;
    }

    .datenschutz-content .inner-content{
        height: 14400px;
    }

    .datenschutz-content {
        height: 14600px;
    }

    .datenschutz-content h1, .impressum-content h1 {
        font-size: 1.6rem;
        margin-top:0;
    }

    .nav-arrow {
        right: 4%;
        top: 20px;
    }
}

/* ----- SCROLLBAR ----- */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #141414;
}

::-webkit-scrollbar
{
    width: 15px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #464646;
}

:root{
    scrollbar-color: #464646 #141414 !important;
    scrollbar-width: auto !important;
}

/* ----- UTILITY ----- */

.hide-scroll {
    overflow-y: hidden !important;
    position: fixed;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.copied {
    transform: scale(0.9) !important;
}

/* ----- AOS CUSTOM ANIMATIONS ----- */

[data-aos="heading-in"] {
    opacity: 0;
    transform: rotateX(-10deg) translateY(80px);
    transition-property: transform, opacity;
}

[data-aos="heading-in"].aos-animate {
    opacity: 1;
    transform: rotateX(0) translateY(0);
}

@media screen and (max-width: 1279px) {

    .navbar {
        position: fixed;
        mix-blend-mode: difference;
    }

    .nav-logo {
        transition: all 0.3s ease;
    }

    .section-menu {
        visibility: hidden;
        pointer-events: none;
    }

    .link-container {
        visibility: hidden;
        pointer-events: none;
    }

    .nav-contact {
        visibility: hidden;
        pointer-events: none;
    }

    .container-burger {
        top: 0px;
        position: fixed;
        right: 0;

        z-index: 10;

        height: 38px;
        width: 38px;

        transition: all .3s ease-in-out;   

        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: visible;
        cursor: pointer;

        mix-blend-mode: difference;
    }

    .btn-burger {
        width: 34px;
        height: 3px;
        background-color: #e5e5e5;
        border-radius: 5px;

        transition: all .5s ease-in-out;   
    }

    .btn-burger::before, 
    .btn-burger::after {
        content: '';
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: #e5e5e5;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }

    .btn-burger::before {
        transform: translateY(-12px);
    }

    .btn-burger::after {
        transform: translateY(12px);
    }

   .open .btn-burger {
        transform: translateX(-50px);
        background-color: transparent;
    }
    
    .open .btn-burger::before {
        transform: rotate(45deg) translate(35px, -35px); 
    }
    
    .open .btn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px); 
    }

    .navbar-toggle {
        opacity: 1;
        pointer-events: visible;
    }

    .links-open {
        transform: translate(0);
    }

    .mobile-nav-container {
        transform: translateX(100%);
        position: fixed;
        visibility: visible;
        pointer-events: all;
        opacity: 0;
        top: 0;
        left: 0;
        background-color: #1a1a1a;
        width: 100vw;
        height: 100vh;
        z-index: 8;

        transition: all 0.5s ease;
    }

    .mobile-nav-links {
        transform: translateY(-50%);
    }

    .mobile-nav-links li {
        opacity: 0;
        transform: translateX(100px);
        transition: all 1s ease 0.5s;
    }

    .mob1 {
        animation: mobileLinksIn 0.7s ease 0.5s forwards;
    }

    .mob2 {
        animation: mobileLinksIn 0.7s ease 0.7s forwards;
    }

    .mob3 {
        animation: mobileLinksIn 0.7s ease 0.9s forwards;
    }

    .mob4 {
        animation: mobileLinksIn 0.7s ease 1.1s forwards;
    }


    @keyframes mobileLinksIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-nav-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 46%;
        right: 0;
        text-align: right;
        font-size: 3rem;
        font-weight: 500;
    }

    .mobile-nav-links li {
        margin-top: 20%;
    }

    .mobile-nav-links a {
        color: #e5e5e5;
    }

    .mobile-nav-open {
        transform: translateX(0); 
        opacity: 1;
    }
}

@media screen and (max-width: 962px) {
    .mobile-nav-container ul {
        font-size: 2.5rem;
    }

    .mobile-nav-links li {
        margin-top: 16%;
    }
}

@media screen and (max-width: 450px) {
    .mobile-nav-container ul {
        font-size: 2rem;
    }

    .mobile-nav-links li {
        margin-top: 16%;
    }  
}



/* LEISTUNGEN ICONS */

#webdesign-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#webframe{
    stroke-dasharray: 208px;
    stroke-dashoffset: -208px;}
.webframe {
    animation: frame 2s ease forwards 0s;}

#weblogotop{
    stroke-dasharray: 8.600000381469727px;
    stroke-dashoffset: -8.600000381469727px;}
.weblogotop {
    animation: logotop 1s ease forwards .8s;}

#weblogobottom{
    stroke-dasharray: 5.90000057220459px;
    stroke-dashoffset: -5.90000057220459px;}
.weblogobottom {
    animation: logobottom 1s ease forwards .8s;}

#webframestand{
    stroke-dasharray: 21.399999618530273px;
    stroke-dashoffset: -21.399999618530273px;}
.webframestand {
    animation: framestand 2s ease forwards 0s;}

#webframetop{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.webframetop {
    animation: frametop 2s ease forwards 0s;}

#webframebottom{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.webframebottom {
    animation: frametop 2s ease forwards 0s;}

#webslash{
    stroke-dasharray: 14.22392463684082px;
    stroke-dashoffset: -14.22392463684082px;}
.webslash {
    animation: slash 1s ease forwards .8s;}

#weblesser{
    stroke-dasharray: 12.445079803466797px;
    stroke-dashoffset: -12.445079803466797px;}
.weblesser {
    animation: lesser 1s ease forwards .8s;}

#webgreater{
    stroke-dasharray: 12.374773025512695px;
    stroke-dashoffset: -12.374773025512695px;}
.webgreater {
    animation: greater 1s ease forwards .8s;}


#app-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 65%;
    transform: translateX(-50%);
}

#appframe{
    stroke-dasharray: 196px;
    stroke-dashoffset: -196px;}
.appframe {
    animation: appframe 2s ease forwards 0s;}

#appframetop{
    stroke-dasharray: 33.79999923706055px;
    stroke-dashoffset: -33.79999923706055px;}
.appframetop {
    animation: appframetop 2s ease forwards 0s;}

#appframebottom{
    stroke-dasharray: 33.79999923706055px;
    stroke-dashoffset: -33.79999923706055px;}
.appframebottom {
    animation: appframetop 2s ease forwards 0s;}

#appslash{
    stroke-dasharray: 14.135418891906738px;
    stroke-dashoffset: -14.135418891906738px;}
.appslash {
    animation: slash 1s ease forwards .8s;}

#applogotop{
    stroke-dasharray: 8.6px;
    stroke-dashoffset: -8.6px;}
.applogotop {
    animation: logotop 1s ease forwards .8s;}

#applogobottom{
    stroke-dasharray: 5.90000057220459px;
    stroke-dashoffset: -5.90000057220459px;}
.applogobottom {
    animation: logobottom 1s ease forwards .8s;}

#applesser{
    stroke-dasharray: 12.445079803466797px;
    stroke-dashoffset: -12.445079803466797px;}
.applesser {
    animation: lesser 1s ease forwards .8s;}

#appgreater{
    stroke-dasharray: 12.374773025512695px;
    stroke-dashoffset: -12.374773025512695px;}
.appgreater {
    animation: greater 1s ease forwards .8s;}


#seo-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#seoframe{
    stroke-dasharray: 208px;
    stroke-dashoffset: -208px;}
.seoframe {
    animation: frame 2s ease forwards 0s;}

#seoframestand{
    stroke-dasharray: 21.399999618530273px;
    stroke-dashoffset: -21.399999618530273px;}
.seoframestand {
    animation: framestand 2s ease forwards 0s;}

#seoframetop{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.seoframetop {
    animation: frametop 2s ease forwards 0s;}

#seoframebottom{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.seoframebottom {
    animation: frametop 2s ease forwards 0s;}
    
#seoslash{
    stroke-dasharray: 14.22392463684082px;
    stroke-dashoffset: -14.22392463684082px;}
.seoslash {
    animation: slash 1s ease forwards .8s;}

#seologotop{
    stroke-dasharray: 8.6px;
    stroke-dashoffset: -8.6px;}
.seologotop {
    animation: logotop 1s ease forwards .8s;}

#seologobottom{
    stroke-dasharray: 5.90000057220459px;
    stroke-dashoffset: -5.90000057220459px;}
.seologobottom {
    animation: logobottom 1s ease forwards .8s;}

#seoglass{
    stroke-dasharray: 46.820228576660156px;
    stroke-dashoffset: -46.820228576660156px;}
.seoglass {
    animation: seoglass 1s ease forwards .8s;}

#seohandle{
    stroke-dasharray: 26.75234603881836px;
    stroke-dashoffset: -26.75234603881836px;}
.seohandle {
    animation: seohandle 1s ease forwards .8s;}


#design-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#dessecondflyer{
    stroke-dasharray: 62.999996185302734px;
    stroke-dashoffset: -62.999996185302734px;}
.dessecondflyer {
    animation: dessecondflyer 2s ease forwards 0s;}

#desthirdflyer{
    stroke-dasharray: 62.999996185302734px;
    stroke-dashoffset: -62.999996185302734px;
}
.desthirdflyer {
    animation: dessecondflyer 2s ease forwards 0s;}

#desflyer{
    stroke-dasharray: 129.1999969482422px;
    stroke-dashoffset: -129.1999969482422px;}
.desflyer {
    animation: desflyer 2s ease forwards 0s;}

#desflyerline{
    stroke-dasharray: 13.6px;
    stroke-dashoffset: -13.6px;}
.desflyerline {
    animation: desflyerline 2s ease forwards 0s;}

#descard{
    stroke-dasharray: 86.19999694824219px;
    stroke-dashoffset: -86.19999694824219px;}
.descard {
    animation: descard 2s ease forwards 0s;}

#desflyerlogotop{
    stroke-dasharray: 8.6px;
    stroke-dashoffset: -8.6px;}
.desflyerlogotop {
    animation: logotop 1s ease forwards .8s;}

#desflyerlogobottom{
    stroke-dasharray: 5.899999618530273px;
    stroke-dashoffset: -5.899999618530273px;}
.desflyerlogobottom {
    animation: logobottom 1s ease forwards .8s;}

#descardlogotop{
    stroke-dasharray: 8.6px;
    stroke-dashoffset: -8.6px;}
.descardlogotop {
    animation: logotop 1s ease forwards .8s;}

#descardlogobottom{
    stroke-dasharray: 5.899999618530273px;
    stroke-dashoffset: -5.899999618530273px;}
.descardlogobottom {
    animation: logobottom 1s ease forwards .8s;}

#despencil{
    stroke-dasharray: 129.1999969482422px;
    stroke-dashoffset: -129.1999969482422px;}
.despencil {
    animation: despencil 1s ease forwards .8s;}

#despenciltop{
    stroke-dasharray: 5.515432357788086px;
    stroke-dashoffset: -5.515432357788086px;}
.despenciltop {
    animation: despenciltop 1s ease forwards .8s;}

#despencilbottom{
    stroke-dasharray: 5.515432357788086px;
    stroke-dashoffset: -5.515432357788086px;}
.despencilbottom {
    animation: despenciltop 1s ease forwards .8s;}


#marketing-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#marframe{
    stroke-dasharray: 208px;
    stroke-dashoffset: -208px;}
.marframe {
    animation: frame 2s ease forwards 0s;}

#marframestand{
    stroke-dasharray: 21.399999618530273px;
    stroke-dashoffset: -21.399999618530273px;}
.marframestand {
    animation: framestand 2s ease forwards 0s;}

#marframetop{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.marframetop {
    animation: frametop 2s ease forwards 0s;}

#marframebottom{
    stroke-dasharray: 64.19999694824219px;
    stroke-dashoffset: -64.19999694824219px;}
.marframebottom {
    animation: frametop 2s ease forwards 0s;}
    
#marslash{
    stroke-dasharray: 14.22392463684082px;
    stroke-dashoffset: -14.22392463684082px;}
.marslash {
    animation: slash 1s ease forwards .8s;}

#marlogotop{
    stroke-dasharray: 8.6px;
    stroke-dashoffset: -8.6px;}
.marlogotop {
    animation: logotop 1s ease forwards .8s;}

#marlogobottom{
    stroke-dasharray: 5.90000057220459px;
    stroke-dashoffset: -5.90000057220459px;}
.marlogobottom {
    animation: logobottom 1s ease forwards .8s;}

#marpiesmall{
    stroke-dasharray: 34.28095245361328px;
    stroke-dashoffset: -34.28095245361328px;}
.marpiesmall {
    animation: marpiesmall 1s ease forwards .8s;}

#marpiebig{
    stroke-dasharray: 64.44279479980469px;
    stroke-dashoffset: -64.44279479980469px;}
.marpiebig {
    animation: marpiebig 1s ease forwards .8s;}


#beratung-container{
    position: relative;
    width: 100px;
    fill:none;
    stroke:#1a1a1a;
    stroke-width:1.5px;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

#berbubblesmall{
    stroke-dasharray: 75.30918884277344px;
    stroke-dashoffset: -75.30918884277344px;}
.berbubblesmall{
    animation: berbubblesmall 2s ease forwards 0s;}

#berbubblebig{
    stroke-dasharray: 175.923095703125px;
    stroke-dashoffset: -175.923095703125px;}
.berbubblebig{
    animation: berbubblebig 2s ease forwards 0s;}

#berlogotop{
    stroke-dasharray: 208px;
    stroke-dashoffset: -208px;}
.berlogotop{
    animation: logotop 1s ease forwards .8s;}

#berlogobottom {
    stroke-dasharray: 208px;
    stroke-dashoffset: -208px;
}

.berlogobottom {
    animation: logobottom 1s ease forwards .8s;
}

#berbar1 {
    stroke-dasharray: 13.4px;
    stroke-dashoffset: -13.4px;
}

.berbar1 {
    animation: berbar1 1s ease forwards .8s;
}

#berbar2 {
    stroke-dasharray: 18.799999px;
    stroke-dashoffset: -18.799999px;
}
    
.berbar2 {
    animation: berbar2 1s ease forwards .8s;
}

#berbar3 {
    stroke-dasharray: 29.6px;
    stroke-dashoffset: -29.6px;
}

.berbar3 {
    animation: berbar3 1s ease forwards .8s;
}

#berbar4 {
    stroke-dasharray: 51.4px;
    stroke-dashoffset: -51.4px;
}

.berbar4 {
    animation: berbar4 1s ease forwards .8s;
}

    
@keyframes frame {
    0% {
        stroke-dashoffset: -208px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes logotop {
    0% {
        stroke-dashoffset: -8.600000381469727px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes logobottom {
    0% {
        stroke-dashoffset: -5.90000057220459px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes framestand {
    0% {
        stroke-dashoffset: -21.399999618530273px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes frametop {
    0% {
        stroke-dashoffset: -64.19999694824219px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes slash {
    0% {
        stroke-dashoffset: -14.22392463684082px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes lesser {
    0% {
        stroke-dashoffset: -12.445079803466797px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes greater {
    0% {
        stroke-dashoffset: -12.374773025512695px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes appframe {
    0% {
        stroke-dashoffset: -196px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes appframetop {
    0% {
        stroke-dashoffset: -33.79999923706055px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes seoglass {
    0% {
        stroke-dashoffset: -46.820228576660156px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes seohandle {
    0% {
        stroke-dashoffset: -26.75234603881836px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes dessecondflyer {
    0% {
        stroke-dashoffset: -62.999996185302734px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes desflyer {
    0% {
        stroke-dashoffset: -129.1999969482422px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes desflyerline {
    0% {
        stroke-dashoffset: -13.6px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes descard {
    0% {
        stroke-dashoffset: -86.19999694824219px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes despencil {
    0% {
        stroke-dashoffset: -129.1999969482422px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes despenciltop {
    0% {
        stroke-dashoffset: -5.515432357788086px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes marpiesmall {
    0% {
        stroke-dashoffset: -34.28095245361328px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes marpiebig {
    0% {
        stroke-dashoffset: -64.44279479980469px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbubblesmall {
    0% {
        stroke-dashoffset: -75.30918884277344px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbubblebig {
    0% {
        stroke-dashoffset: -175.923095703125px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbar1 {
    0% {
        stroke-dashoffset: -13.4px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbar2 {
    0% {
        stroke-dashoffset: -18.799999px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbar3 {
    0% {
        stroke-dashoffset: -29.6px;}
    100% {
        stroke-dashoffset: 0;}
}

@keyframes berbar4 {
    0% {
        stroke-dashoffset: -51.4px;}
    100% {
        stroke-dashoffset: 0;}
}
